.register-popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.25);
  transition-duration: 0.5s;
  transition-property: opacity, visibility;
}

.register-popup_hidden {
  opacity: 0;
  visibility: hidden;
}

.register-popup__container {
  width: 640px;
  background-color: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 3px 4px rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(0, 0, 0, 0.14);
  border-radius: 0 0 4px 4px;
  overflow: hidden;
}

.register-popup__title {
  margin: 0;
  padding: 20px 16px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.87);
}
