.best-player {
  display: grid;
  grid-template-areas:
    'photo full-name score'
    'photo email score';
  grid-template-columns: auto 1fr auto;
  gap: 1px 18px;
  max-width: 846px;
  width: 100%;
  margin-bottom: 18px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.08);
  align-items: center;
}

.best-player__img {
  width: 40px;
  height: 40px;
  grid-area: photo;
  object-fit: cover;
  border-radius: 50%;
}

.best-player__fullname {
  grid-area: full-name;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.1px;
  color: #333;
}

.best-player__email {
  grid-area: email;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.4px;
  color: #333;
}

.best-player__score {
  grid-area: score;
}
