.game-parameter {
  width: max-content;
  min-width: 256px;
  padding: 0 23px 6px 16px;
  border-bottom: 1px solid #e5e5e5;
}

.game-parameter__title {
  display: block;
  margin: 0 0 5px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
}
