.game-time {
  padding: 17px 73px;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24);
  font-size: 36px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.4);
}
