.steps {
  max-width: 1000px;
  margin: 0 auto;
  padding: 28px 36px 85px;
  background-color: rgba(0,0,0,.05);
  border-radius: 5px;
}

.steps__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: .15px;
  color: rgba(0,0,0,.87);
}

.steps__container {

}
