.header {
  background-color: #2196f3;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24);
}

.header__container {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px 0 24px;
  align-items: center;
}

.header__logo {
  margin-right: 152px;
}

.header__nav {
  margin-right: auto;
}

.header__register-btn {
  margin-left: 20px;
}
